<% b = Book.find_by(id: params["id"]) %>

<a href="/books/<%= b.id %>/edit" class="btn btn-danger float-right">Edit This Book</a>

<h3 class="pl-3"><%= b.title %></h3>

<div class="row">
  <div class="col-sm-3 d-flex flex-column align-items-center">

    <% author = Author.find_by(id: b.author_id) %>

    <% if author != nil %>
        <p>Written by <a href="/authors/<%= author.id %>"><%= author.name %></p>
    <% else %>
        <p>Author unknown.</p>
    <% end %>

    <p><img width="150" src="<%= b.photo_url %>"></p>
    <h3>$ <%= b.price.to_f / 100.0 %></h3>
    <p><a href="#" class="btn btn-primary">Buy Now</a></p>

  </div>
  <div class="col-sm-6">
    <p class="lead">
      <%= b.summary %>
    </p>
  </div>

</div>
